.contato {
    padding: 2rem 1.5rem 0 1.5rem;
}

.contato__cadastro {
    background-color: transparent;
    border: 1px solid var(--azul);
    color: var(--azul);
    border-radius: 35px;
    padding: 1rem ;
    width: 100%;
    margin: 2rem 0
}

.contato__cadastro::placeholder {
    font-weight: 400;
    font-size: 14px;
    font-family: var(--fonte-principal);
    text-align: center;
    background: url(../img/Cadastrar.svg);
    background-repeat: no-repeat;
    background-position: .75rem;
    color: var(--azul);
}

.contato__titulo {
    font-weight: bold;
}

@media screen and (min-width: 1024px) {

    .contato {
        display: flex;
        justify-content: center;
        padding: 1.5rem  8rem;
    }

    .contato__texto {
        padding-left: 5rem;
    }

    .contato__titulo{
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    .contato__cadastro {
        width: 50%;
        height: 40%;
    }

}

@media screen and (min-width: 1024px) {

    .contato {
        padding: 2rem 25vw;
    }

    .contato__cadastro {
        width: 40%;
        height: 30%;
    }

}