.cabecalho__menu-hamburguer {
    background-image: url(../img/Menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: .7rem;
}

.container__menu {
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 50vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1rem;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao, .container__titulo {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho__menu-hamburguer, .container__imagem--transparente {
        display: none;
    }

    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 1.5rem;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .container__menu {
        display: block;
        align-self: center;
    }

    .container__lista {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container__item {
        padding: .5rem 1rem;
        text-transform: uppercase;
        position: relative;
    }

    .container__link {
        text-decoration: none;
        color: var(--preto);
        cursor: pointer;
    }

    .container__categoria {
        display: none;
    }

    .container__categoria:checked~.lista-menu {
        display: block;
    }

    .lista-menu {
        position: absolute;
        top: 100%;
        left: 35%;
        width: auto;
    }
}